# Build directory
/*[Bb]uild*/

# IDE/Editor project files
.idea/
.vs/
.vscode/

# Linux global filetypes
.directory

# OSX global filetypes
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows global filetypes
Thumbs.db
